@model ThAmCo.Events.Models.MenuFoodItemsVM

@{
    ViewData["Title"] = "FoodItems" ;
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>FoodItems for @Model.menu.MenuName</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.menu.MenuName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FoodItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                <td>
            </tr>
        }
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a> |
    <a asp-action="CreateFood">Add new Food Item to this menu</a>
</div>
